<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/turndown/dist/turndown.js',
	'/shared-assets/vendor/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/vendor/moment/moment.js',
	'/cms/_shared/ui-style.css',
	'ui-logic.js',
	'ui-style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<% include('./module-create/view.ejs') %>

<script type="text/javascript">
	<%- include('behaviour.js') %>
</script>

<script type="text/javascript">
	WKSubscriptions.lifecyclePageWillLoad();
</script>

<div id="WKCSubscriptions" class="WKCSubscriptionsLoading">
	<div id="WKCSubscriptionsList"></div>

	<div id="WKCSubscriptionsDetail" class="WKCSubscriptionsDetailInactive">
		<span id="WKCSubscriptionsDetailPlaceholder"><%= OLSKLocalized('WKCSubscriptionsDetailPlaceholderText') %></span>
		<div id="WKCSubscriptionsDetailContainer">
			<header class="WKCSubscriptionsToolbar">Test</header>

			<article id="WKCSubscriptionsDetailArticle">
				<h1 id="WKCSubscriptionsDetailHeading"></h1>
				<span id="WKCSubscriptionsDetailInfo">
					<span id="WKCSubscriptionsDetailAuthor"></span>
					&mdash;
					<span id="WKCSubscriptionsDetailDate"></span>
				</span>
				<a id="WKCSubscriptionsDetailLink" target="_blank"><%= OLSKLocalized('WKCSubscriptionsDetailOriginalText') %></a></span>
				<div id="WKCSubscriptionsDetailBody"></div>
			</article>
		</div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
