<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/turndown/dist/turndown.js',
	'/shared-assets/vendor/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/vendor/moment/moment.js',
	'/cms/_shared/ui-style.css',
	'ui-logic.js',
	'ui-style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<% include('./module-create/view.ejs') %>

<script type="text/javascript">
	<%- include('behaviour.js') %>
</script>

<script type="text/javascript">
	WKSubscriptions.lifecyclePageWillLoad();
</script>

<div id="WKCSubscriptions" class="WKCSubscriptionsLoading">
	<div id="WKCSubscriptionsMaster">
		<header id="WKCSubscriptionsMasterHeader" class="WKCSubscriptionsToolbar"><span>Test</span></header>
		<div id="WKCSubscriptionsMasterContent"></div>
	</div>

	<div id="WKCSubscriptionsDetail" class="WKCSubscriptionsDetailInactive">
		<header id="WKCSubscriptionsDetailHeader" class="WKCSubscriptionsToolbar">
			<a id="WKCSubscriptionsDetailHeaderDiscard" class="WKCSubscriptionsTappable">🗑</a>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsDetailHeaderDiscard').on('click', WKSubscriptions.interfaceDiscardButtonDidClick);
			</script>

		</header>

		<article id="WKCSubscriptionsDetailContent">
			<h1 id="WKCSubscriptionsDetailContentHeading"></h1>
			<span id="WKCSubscriptionsDetailContentInfo">
				<span id="WKCSubscriptionsDetailContentAuthor"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentDate"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentSource"></span>
			</span>
			<a id="WKCSubscriptionsDetailContentLink" target="_blank"><%= OLSKLocalized('WKCSubscriptionsDetailContentLinkText') %></a></span>
			<div id="WKCSubscriptionsDetailContentBody"></div>
		</article>

		<div id="WKCSubscriptionsDetailPlaceholder"><span><%= OLSKLocalized('WKCSubscriptionsDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
