<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/vendor/turndown/dist/turndown.js',
	'/shared-assets/vendor/showdown/dist/showdown.js',
	'/shared-assets/vendor/moment/moment.js',
	'/shared-assets/vendor/OLSKType/main.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-create/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCSubscriptionsErrorArticlesMarkAsDiscardedText',
	'WKCSubscriptionsErrorArticlesMarkAsReadText',
	'WKCSubscriptionsErrorArticlesUnavailableText',
	'WKCSubscriptionsErrorSubscriptionsUnavailableText',
	'WKCSubscriptionsModuleCreateErrorCreateText',
	'WKCSubscriptionsModuleCreateErrorFetchText',
	'WKCSubscriptionsModuleCreatePreviewTypeFeedRSSText',
	'WKCSubscriptionsModuleCreatePreviewTypeFeedAtomText',
	'WKCSubscriptionsModuleCreatePreviewTypeFileText',
	'WKCSubscriptionsModuleCreatePreviewTypePageText',
	'WKCSubscriptionsModuleCreateFlashFormat',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKSubscriptions.lifecyclePageWillLoad();

	d3.select(document.body).on('keydown', function () {
		if (d3.event.code === 'Backspace') {
			return WKSubscriptions.interfaceArticlesDiscardButtonDidClick();
		}

		if (d3.event.code === 'Escape') {
			return WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick();
		}
	});
</script>

<div id="WKCSubscriptions" class="WKCSubscriptionsLoading">
	<div id="WKCSubscriptionsCreate">
		<header id="WKCSubscriptionsCreateHeader" class="WKCSharedToolbar">
			<button id="WKCSubscriptionsCreateHeaderCloseButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsCreateHeaderCloseButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-create/view.ejs') %>
	</div>

	<div id="WKCSubscriptionsSources">
		<header id="WKCSubscriptionsSourcesToolbar" class="WKCSharedToolbar">&nbsp;</header>

		<div id="WKCSubscriptionsSourcesContent">
			<ul id="WKCSubscriptionsSourcesContentList">
				<li>
					<!-- <h6 id="WKCSubscriptionsSourcesContentListGeneralHeading" class="WKCSubscriptionsSourcesContentListHeading">&nbsp;</h6> -->

					<ul id="WKCSubscriptionsSourcesContentListGeneralList" class="WKCSubscriptionsSourcesContentListChildList">
						<li id="WKCSubscriptionsSourcesContentListGeneralListItemInbox" class="WKCSubscriptionsSourcesContentListChildListItem WKCSubscriptionsSourcesContentListChildListItemSelected WKCSharedElementTappable">
							<span class="WKCSubscriptionsSourcesContentListChildListItemName WKCSubscriptionsText"><%= OLSKLocalized('WKCSubscriptionsSourcesContentListItemInboxText') %></span>
							<span class="WKCSubscriptionsSourcesContentListChildListItemUnreadCount">
								<span class="WKCSubscriptionsText">123</span>
							</span>
						</li>
					</ul>
				</li>
				<li>
					<h6 class="WKCSubscriptionsSourcesContentListHeading"><span class="WKCSubscriptionsText"><%= OLSKLocalized('WKCSubscriptionsHeadingText') %></span></h6>

					<ul id="WKCSubscriptionsSourcesContentListSubscriptionsList" class="WKCSubscriptionsSourcesContentListChildList"></ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div id="WKCSubscriptionsMaster">
		<header id="WKCSubscriptionsMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCSubscriptionsMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n">➕</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsMasterToolbarCreateButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateButtonDidClick);
			</script>
		</header>

		<div id="WKCSubscriptionsMasterContent"></div>
	</div>

	<div id="WKCSubscriptionsDetail" class="WKCSubscriptionsDetailInactive">
		<header id="WKCSubscriptionsDetailToolbar" class="WKCSharedToolbar">
			<button id="WKCSubscriptionsDetailToolbarArchiveButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="a">📂</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsDetailToolbarArchiveButton').on('click', WKSubscriptions.interfaceArticlesArchiveButtonDidClick);
			</script>

			<button id="WKCSubscriptionsDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">🗑</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsDetailToolbarDiscardButton').on('click', WKSubscriptions.interfaceArticlesDiscardButtonDidClick);
			</script>
		</header>

		<article id="WKCSubscriptionsDetailContent">
			<h1 id="WKCSubscriptionsDetailContentHeading"></h1>
			<span id="WKCSubscriptionsDetailContentInfo">
				<span id="WKCSubscriptionsDetailContentAuthor"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentDate"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentSource"></span>
			</span>
			<a id="WKCSubscriptionsDetailContentLink" target="_blank"><%= OLSKLocalized('WKCSubscriptionsDetailContentLinkText') %></a></span>
			<div id="WKCSubscriptionsDetailContentBody"></div>
		</article>

		<div id="WKCSubscriptionsDetailPlaceholder"><span><%= OLSKLocalized('WKCSubscriptionsDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
