<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/vendor/turndown/dist/turndown.js',
	'/shared-assets/vendor/moment/moment.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-create/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCSubscriptionsErrorArticlesMarkAsDiscardedText',
	'WKCSubscriptionsErrorArticlesMarkAsReadText',
	'WKCSubscriptionsErrorArticlesUnavailableText',
	'WKCSubscriptionsErrorSubscriptionsUnavailableText',
	'WKCSubscriptionsModuleCreateErrorAddText',
	'WKCSubscriptionsModuleCreateErrorFetchText',
	'WKCSubscriptionsModuleCreatePreviewTypeFeedText',
	'WKCSubscriptionsModuleCreatePreviewTypeFileText',
	'WKCSubscriptionsModuleCreatePreviewTypePageText',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKSubscriptions.lifecyclePageWillLoad();

	d3.select(document.body).on('keydown', function () {
		if (d3.event.code === 'Backspace') {
			return WKSubscriptions.interfaceArticlesDiscardButtonDidClick();
		}

		if (d3.event.code === 'Escape') {
			return WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick();
		}
	});
</script>

<div id="WKCSubscriptions" class="WKCSubscriptionsLoading">
	<div id="WKCSubscriptionsCreate">
		<header id="WKCSubscriptionsCreateHeader" class="WKCSubscriptionsToolbar">
			<button id="WKCSubscriptionsCreateHeaderCloseButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsCreateHeaderCloseButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-create/view.ejs') %>
	</div>

	<div id="WKCSubscriptionsMaster">
		<header id="WKCSubscriptionsMasterHeader" class="WKCSubscriptionsToolbar">
			<button id="WKCSubscriptionsMasterHeaderCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n">➕</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsMasterHeaderCreateButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateButtonDidClick);
			</script>
		</header>

		<div id="WKCSubscriptionsMasterContent"></div>
	</div>

	<div id="WKCSubscriptionsDetail" class="WKCSubscriptionsDetailInactive">
		<header id="WKCSubscriptionsDetailHeader" class="WKCSubscriptionsToolbar">
			<button id="WKCSubscriptionsDetailHeaderDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">🗑</button>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsDetailHeaderDiscardButton').on('click', WKSubscriptions.interfaceArticlesDiscardButtonDidClick);
			</script>
		</header>

		<article id="WKCSubscriptionsDetailContent">
			<h1 id="WKCSubscriptionsDetailContentHeading"></h1>
			<span id="WKCSubscriptionsDetailContentInfo">
				<span id="WKCSubscriptionsDetailContentAuthor"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentDate"></span>
				&mdash;
				<span id="WKCSubscriptionsDetailContentSource"></span>
			</span>
			<a id="WKCSubscriptionsDetailContentLink" target="_blank"><%= OLSKLocalized('WKCSubscriptionsDetailContentLinkText') %></a></span>
			<div id="WKCSubscriptionsDetailContentBody"></div>
		</article>

		<div id="WKCSubscriptionsDetailPlaceholder"><span><%= OLSKLocalized('WKCSubscriptionsDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
