<%
locals.OLSKPageTitle = OLSKLocalized('WKCLoginTitle');
locals.OLSKPageAssets = [
	'ui-style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<% if (locals.WKCLoginError) { %>
	<p><%= OLSKLocalized('WKCLoginFormFieldErrorText') %></p>
<% } %>

<form method="POST" action="<%= OLSKCanonicalFor('WKCRouteLoginSubmit') %>">
	<p>
		<input type="text" name="WKCLoginUsername" placeholder="<%= OLSKLocalized('WKCLoginFormFieldUsernameTitle') %>" value="<%= locals.WKCLoginUsername %>" autofocus />
	</p>

	<p>
		<input type="password" name="WKCLoginPassword" placeholder="<%= OLSKLocalized('WKCLoginFormFieldPasswordTitle') %>" />
	</p>

	<input type="submit" name="submit" />
</form>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
