<%
locals.OLSKPageTitle = OLSKLocalized('WKCLoginTitle');
locals.OLSKPageAssets = [
	'ui-style.css',
];
%>

<%- include('../../_shared/common/layout-header.ejs') %>

<div id="WKCLogin">
	<h1><%= locals.OLSKPageTitle %></h1>

	<% if (locals.WKCLoginError) { %>
		<p><%= OLSKLocalized('WKCLoginFormFieldErrorText') %></p>
	<% } %>

	<form method="POST" action="<%= OLSKCanonicalFor('WKCLoginSubmitRoute') %>">
		<p>
			<input type="text" name="WKCLoginUsername" placeholder="<%= OLSKLocalized('WKCLoginFormFieldUsernameTitle') %>" value="<%= locals.WKCLoginUsername %>" autofocus />
		</p>

		<p>
			<input type="password" name="WKCLoginPassword" placeholder="<%= OLSKLocalized('WKCLoginFormFieldPasswordTitle') %>" />
		</p>

		<input type="text" hidden name="WKCLoginReturnPath" value="<%= locals.WKCLoginReturnPath %>" />

		<input type="submit" value="<%= OLSKLocalized('WKCLoginFormFieldSubmitTitle') %>" />
	</form>
</div>

<%- include('../../_shared/common/layout-footer.ejs') %>
