<%
locals.OLSKPageTitle = OLSKTranslate('WKCHomeTitle');
%>

<%- include('../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<p><a href="<%= OLSKCanonicalFor('WKCRouteNotes') %>"><%= OLSKTranslate('WKCNotesTitle') %></a></p>

<%- include('../_shared/WKCLayout/footer.ejs') %>
