<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				WKC_SHARED_DONATE_URL: '<%= process.env.WKC_SHARED_DONATE_URL %>',
				OLSKSharedActiveRouteConstant: '<%= OLSKSharedActiveRouteConstant %>',
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
				OLSKSharedPageLanguagesAvailable: <%- JSON.stringify(OLSKSharedPageLanguagesAvailable) %>,
			}[inputData];
		};
	</script>

	<script src="/_shared/__external/OLSKRouting/main.js"></script>
	<script type="text/javascript">
		window.OLSKCanonicalFor = function(inputData, params) {
			return OLSKRouting.OLSKRoutingCanonicalPathWithRoutePathAndOptionalParams((<%- JSON.stringify(['KVCWriteFooterStubRoute'].reduce(function (map, e) {
				map[e] = OLSKRouteObjectFor(e).OLSKRoutePath;
				return map;
			}, {})) %>)[inputData], params);
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKVCWriteFooterDispatchStorage</strong>
	<span id="TestKVCWriteFooterDispatchStorage">0</span>
</p>

</body>
</html>
