<%
locals.OLSKPageTitle = OLSKLocalized('WKCReadHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/external/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/external/identicon.js/identicon.js',
	'/shared-assets/external/blueimp-md5/js/md5.min.js',
	'/shared-assets/external/turndown/dist/turndown.js',
	'/shared-assets/external/showdown/dist/showdown.js',
	'/shared-assets/external/moment/moment.js',
	'/shared-assets/external/OLSKType/main.js',
	'/shared-assets/external/url-parse/dist/url-parse.min.js',
	'/shared-assets/internal/WKCParser/main.js',
	'/panel/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-subscribe/suggest.js',
	'module-subscribe/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCReadSourcesContentListItemInboxText',
	'WKCReadSourcesContentListItemArchivedText',
	'WKCReadSourcesContentListItemDiscardedText',
	'WKCReadErrorArticlesMarkAsDiscardedText',
	'WKCReadErrorArticlesMarkAsReadText',
	'WKCReadErrorArticlesUnavailableText',
	'WKCReadErrorArticlesUpdateText',
	'WKCReadErrorSubscriptionsUnavailableText',
	'WKCReadModuleSubscribeErrorCreateText',
	'WKCReadModuleSubscribeErrorFetchText',
	'WKCReadModuleSubscribeErrorCustomTwitterMissingToken',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeStandard',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeSecure',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeCustomTwitterTimeline',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedRSSText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedAtomText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeCustomTwitterTimelineText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFileText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypePageText',
	'WKCReadModuleSubscribeConfirmationFrequencyFormat',
	'WKCReadModuleSubscribeFlashFormat',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKCReadBehaviour.lifecyclePageWillLoad();

	d3.select(document.body).on('keydown', function () {
		if (d3.event.code === 'Backspace') {
			return WKCReadBehaviour.interfaceArticlesDeleteShortcutDidClick();
		}

		if (d3.event.code === 'Escape') {
			return WKCReadBehaviour.interfaceSubscriptionsCreateCloseButtonDidClick();
		}
	});
</script>

<div id="WKCRead" class="WKCReadLoading">
	<div id="WKCReadSubscribe">
		<header id="WKCReadSubscribeHeader" class="WKCSharedToolbar">
			<button id="WKCReadSubscribeHeaderCloseButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCReadSubscribeHeaderCloseButton').on('click', WKCReadBehaviour.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-subscribe/view.ejs') %>
	</div>

	<div id="WKCReadSources">
		<header id="WKCReadSourcesToolbar" class="WKCSharedToolbar">&nbsp;</header>

		<div id="WKCReadSourcesContent">
			<ul id="WKCReadSourcesContentList">
				<li>
					<!-- <h6 id="WKCReadSourcesContentListOutlooksHeading" class="WKCReadSourcesContentListHeading">&nbsp;</h6> -->

					<ul id="WKCReadSourcesContentListOutlooksList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				<li>
					<h6 class="WKCReadSourcesContentListHeading"><span class="WKCReadText"><%= OLSKLocalized('WKCReadHeadingText') %></span></h6>

					<ul id="WKCReadSourcesContentListSubscriptionsList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div id="WKCReadMaster">
		<header id="WKCReadMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCReadMasterToolbarCreateButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCReadModuleSubscribeHeadingText') %>" style="background-image: url('/panel/_shared/wIKSharedCreate.svg')" accesskey="n" onclick="WKCReadBehaviour.interfaceSubscriptionsCreateButtonDidClick()"></button>
		</header>

		<div id="WKCReadMasterContent">
			<div id="WKCReadMasterContentList"></div>
			<div id="WKCReadMasterLoader" class="WKCSharedHidden">
				<%- include('../_shared/WKCLoader/view.ejs') %>
			</div>
		</div>
	</div>

	<div id="WKCReadDetail" class="WKCReadDetailInactive">
		<header id="WKCReadDetailToolbar" class="WKCSharedToolbar">
			<button id="WKCReadDetailToolbarInboxButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle WKCSharedHidden" onclick="WKCReadBehaviour.interfaceArticlesInboxButtonDidClick()"><%= OLSKLocalized('WKCReadDetailToolbarInboxButtonText') %></button>

			<button id="WKCReadDetailToolbarUnreadButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle WKCSharedHidden" title="<%= OLSKLocalized('WKCReadDetailToolbarUnreadButtonText') %>" style="background-image: url('/panel/_shared/wIKReadUnread.svg')" onclick="WKCReadBehaviour.interfaceArticlesUnreadButtonDidClick()"></button>

			<button id="WKCReadDetailToolbarArchiveButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCReadDetailToolbarArchiveButtonText') %>" style="background-image: url('/panel/_shared/wIKReadArchive.svg')" onclick="WKCReadBehaviour.interfaceArticlesArchiveButtonDidClick()" accesskey="a"></button>

			<button id="WKCReadDetailToolbarDiscardButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCReadDetailToolbarDiscardButtonText') %>" style="background-image: url('/panel/_shared/wIKReadDiscard.svg')" onclick="WKCReadBehaviour.interfaceArticlesDiscardButtonDidClick()"></button>
		</header>

		<div id="WKCReadDetailContent">
			<div id="WKCReadDetailContentContext">
				<strong id="WKCReadDetailContentContextSource"></strong>
				<a id="WKCReadDetailContentContextLink" target="_blank"><span id="WKCReadDetailContentContextTiming"></span></a>
			</div>
			
			<div id="WKCReadDetailContentRemote">
				<button id="WKCReadDetailContentRemoteLink" onclick="WKCReadBehaviour.interfaceArticlesLoadRemoteContentButtonDidClick()"><%= OLSKLocalized('WKCReadDetailContentRemoteButtonText') %></button>
			</div>
			
			<article>
				<h4 id="WKCReadDetailContentHeading"></h4>
				
				<p id="WKCReadDetailContentAuthor"></p>
				<div id="WKCReadDetailContentBody"></div>
			</article>
		</div>

		<div id="WKCReadDetailPlaceholder"><span><%= OLSKLocalized('WKCReadDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
