<%
locals.OLSKPageTitle = OLSKLocalized('WKCReadHeadingText');
locals.OLSKPageAssets = [
	'/_shared/__external/ispinner.css/ispinner.prefixed.css',
	'/_shared/__external/identicon.js/identicon.js',
	'/_shared/__external/blueimp-md5/js/md5.min.js',
	'/_shared/__external/turndown/dist/turndown.js',
	'/_shared/__external/showdown/dist/showdown.js',
	'/_shared/__external/moment/moment.js',
	'/_shared/__external/OLSKType/main.js',
	'/_shared/__external/url-parse/dist/url-parse.min.js',
	'/_shared/WKCParser/main.js',
	'/_shared/common/ui-style.css',
	'/panel/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-subscribe/ui-suggest.js',
	'module-subscribe/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCReadSourcesContentListItemInboxText',
	'WKCReadSourcesContentListItemArchivedText',
	'WKCReadSourcesContentListItemDiscardedText',
	'WKCReadErrorArticlesMarkAsDiscardedText',
	'WKCReadErrorArticlesMarkAsReadText',
	'WKCReadErrorArticlesUnavailableText',
	'WKCReadErrorArticlesUpdateText',
	'WKCReadErrorSubscriptionsUnavailableText',
	'WKCReadModuleSubscribeErrorCreateText',
	'WKCReadModuleSubscribeErrorFetchText',
	'WKCReadModuleSubscribeErrorCustomTwitterMissingToken',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeStandard',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeSecure',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeCustomTwitterTimeline',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedRSSText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedAtomText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeCustomTwitterTimelineText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFileText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypePageText',
	'WKCReadModuleSubscribeConfirmationFrequencyFormat',
	'WKCReadModuleSubscribeFlashFormat',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/common/layout-header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKCReadBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCRead" class="WKCReadLoading">
	<div id="WKCReadSubscribe">
		<header id="WKCReadSubscribeHeader" class="WKCSharedToolbar">
			<button id="WKCReadSubscribeHeaderCloseButton" class="OLSKLayoutElementTappable OLSKLayoutButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCReadSubscribeHeaderCloseButton').on('click', WKCReadBehaviour.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-subscribe/view.ejs') %>
	</div>

	<div id="WKCReadSources">
		<header id="WKCReadSourcesToolbar" class="WKCSharedToolbar">&nbsp;</header>

		<div id="WKCReadSourcesContent">
			<ul id="WKCReadSourcesContentList">
				<li>
					<!-- <h6 id="WKCReadSourcesContentListOutlooksHeading" class="WKCReadSourcesContentListHeading">&nbsp;</h6> -->

					<ul id="WKCReadSourcesContentListOutlooksList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				<li>
					<h6 class="WKCReadSourcesContentListHeading"><span class="WKCReadText"><%= OLSKLocalized('WKCReadHeadingText') %></span></h6>

					<ul id="WKCReadSourcesContentListSubscriptionsList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div id="WKCReadMaster">
		<header id="WKCReadMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCReadMasterToolbarCreateButton" class="WKCSharedToolbarButton OLSKLayoutElementTappable OLSKLayoutButtonNoStyle" title="<%= OLSKLocalized('WKCReadModuleSubscribeHeadingText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKSharedCreate.svg')" accesskey="n" onclick="WKCReadBehaviour.interfaceSubscriptionsCreateButtonDidClick()"></button>
		</header>

		<div id="WKCReadMasterContent">
			<div id="WKCReadMasterContentList"></div>
			<div id="WKCReadMasterLoader" class="WKCSharedHidden">
				<%- include('../_shared/WKCLoader/view.ejs') %>
			</div>
		</div>
	</div>

	<div id="WKCReadDetail" class="WKCReadDetailInactive">
		<header id="WKCReadDetailToolbar" class="WKCSharedToolbar">
			<button id="WKCReadDetailToolbarInboxButton" class="WKCSharedToolbarButton OLSKLayoutElementTappable OLSKLayoutButtonNoStyle WKCSharedHidden" title="<%= OLSKLocalized('WKCReadDetailToolbarInboxButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKReadInbox.svg')"onclick="WKCReadBehaviour.interfaceArticlesInboxButtonDidClick()"></button>

			<button id="WKCReadDetailToolbarUnreadButton" class="WKCSharedToolbarButton OLSKLayoutElementTappable OLSKLayoutButtonNoStyle WKCSharedHidden" title="<%= OLSKLocalized('WKCReadDetailToolbarUnreadButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKReadUnread.svg')" onclick="WKCReadBehaviour.interfaceArticlesUnreadButtonDidClick()"></button>

			<button id="WKCReadDetailToolbarArchiveButton" class="WKCSharedToolbarButton OLSKLayoutElementTappable OLSKLayoutButtonNoStyle" title="<%= OLSKLocalized('WKCReadDetailToolbarArchiveButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKReadArchive.svg')" onclick="WKCReadBehaviour.interfaceArticlesArchiveButtonDidClick()" accesskey="a"></button>

			<button id="WKCReadDetailToolbarDiscardButton" class="WKCSharedToolbarButton OLSKLayoutElementTappable OLSKLayoutButtonNoStyle" title="<%= OLSKLocalized('WKCReadDetailToolbarDiscardButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKReadDiscard.svg')" onclick="WKCReadBehaviour.interfaceArticlesDiscardButtonDidClick()"></button>
		</header>

		<div id="WKCReadDetailContent">
			<div id="WKCReadDetailContentContext">
				<strong id="WKCReadDetailContentContextSource"></strong>
				<a id="WKCReadDetailContentContextLink" target="_blank"><span id="WKCReadDetailContentContextTiming"></span></a>
			</div>
			
			<div id="WKCReadDetailContentRemote">
				<button id="WKCReadDetailContentRemoteLink" onclick="WKCReadBehaviour.interfaceArticlesLoadRemoteContentButtonDidClick()"><%= OLSKLocalized('WKCReadDetailContentRemoteButtonText') %></button>
			</div>
			
			<article>
				<h4 id="WKCReadDetailContentHeading"></h4>
				
				<p id="WKCReadDetailContentAuthor"></p>
				<div id="WKCReadDetailContentBody"></div>
			</article>
		</div>

		<div id="WKCReadDetailPlaceholder"><span><%= OLSKLocalized('WKCReadDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/common/layout-footer.ejs') %>
