<%
locals.OLSKPageTitle = OLSKLocalized('KVCVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('KVCVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
%>

<div class="KVCVitrine OLSKDecor OLSKDecorCapped">

<%- include('../_shared/__external/OLSKLanguageSwitcher/main.ejs') %>

<hr role="presentation" />

<div class="KVCVitrineCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="KVCVitrineCrownIcon" src="/_shared/KVCRootLink/ui-assets/identity.svg" role="presentation" />
	<section>
		<span class="KVCVitrineCrownName"><%= OLSKLocalized('KVCVitrineTitle') %></span>
		<span class="KVCVitrineCrownBlurb"><%= OLSKLocalized('KVCVitrineDescription') %></span>
	</section>
</div>

<p class="OLSKCommonWhatIsIt"><%= OLSKLocalized('OLSKCommonWhatIsItText') %></p>

<a class="KVCVitrineAppButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('KVCWriteRoute') %>"><%= OLSKLocalized('OLSKWordingOpenApp') %></a>

<h1 class="KVCVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('./submodules/KVCFeatureList/main.ejs') %>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs').replace(/node_modules/g, '_shared/__external') %>

<a class="KVCVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('KVCGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="KVCVitrineVideoHeading"><%= OLSKLocalized('OLSKWordingVideo') %></h1>

<div class="OLSKCommonVideoList">
	<p class="KVCVitrineVideo1 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_1 %>" allowfullscreen></iframe>
	</p>

	<p class="KVCVitrineVideo2 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_2 %>" allowfullscreen></iframe>
	</p>
</div>

<h1 class="KVCVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingSupportHeading') %></h1>
<p class="KVCVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingSupportBlurb') %></p>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
