<%
locals.OLSKPageTitle = OLSKLocalized('KVCVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('KVCVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('WKCManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="KVCVitrine OLSKDecor OLSKDecorCapped OLSKDecorNoTopPad">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: '/_shared/KVCRootLink/ui-assets/identity.svg',
	OLSKCrownCardNameText: OLSKLocalized('KVCVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('KVCVitrineDescription'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKLocalized('OLSKWordingOpenApp'),
	OLSKLandingActionHref: OLSKCanonicalLocalized('KVCWriteRoute'),
}) %>

<h1 class="KVCVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('./submodules/KVCFeatureList/main.ejs') %>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs', {
	OLSKAppFeatureListRepoURL: process.env.OLSK_REPO_URL,
}).replace(/node_modules/g, '_shared/__external') %>

<a class="KVCVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('KVCGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="KVCVitrineDeeperHeading"><%= OLSKLocalized('OLSKWordingDeeperHeading') %></h1>

<dl class="KVCVitrineGlossary OLSKDecorGlossary">
	<h2 class="KVCVitrineGlossaryWritingHeading"><%= OLSKLocalized('KVCVitrineGlossaryWritingHeadingText') %></h2>
	
	<ul>
		<li>
			<a class="KVCVitrineGlossaryWritingAnswerLink" href="<%= process.env.KVC_VITRINE_WRITING_ANSWER_URL %>"><%= OLSKLocalized('KVCVitrineGlossaryWritingAnswerLinkText') %></a>
		</li>
		<li>
			<a class="KVCVitrineGlossaryWritingListsLink" href="<%= process.env.KVC_VITRINE_WRITING_LISTS_URL %>"><%= OLSKLocalized('KVCVitrineGlossaryWritingListsLinkText') %></a>
		</li>
		<li>
			<a class="KVCVitrineGlossaryWritingDiscussionLink" href="<%= process.env.KVC_VITRINE_WRITING_DISCUSSION_URL %>"><%= OLSKLocalized('KVCVitrineGlossaryWritingDiscussionLinkText') %></a>
		</li>
	</ul>

	<h2 class="KVCVitrineGlossaryWildHeading"><%= OLSKLocalized('KVCVitrineGlossaryWildHeadingText') %></h2>

	<dt><a class="KVCVitrineGlossaryRefLink" href="<%= process.env.KVC_VITRINE_REF_URL %>"><%= OLSKLocalized('KVCVitrineGlossaryRefLinkText') %></a></dt>
	<dd class="KVCVitrineGlossaryRefBlurb"><%= OLSKLocalized('KVCVitrineGlossaryRefBlurbText') %></dd>
	
	<dt><a class="KVCVitrineGlossaryGardensLink" href="<%= process.env.KVC_VITRINE_GARDENS_URL %>"><%= OLSKLocalized('KVCVitrineGlossaryGardensLinkText') %></a></dt>
	<dd class="KVCVitrineGlossaryGardensBlurb"><%= OLSKLocalized('KVCVitrineGlossaryGardensBlurbText') %></dd>

	<h2 class="KVCVitrineGlossaryCompareHeading"><%= OLSKLocalized('KVCVitrineGlossaryCompareHeadingText') %></h2>
	
	<ul>
		<li>
			<a class="KVCVitrineGlossaryCompareSimplenoteLink" href="<%= OLSKCanonical('KVCCompareSimplenoteRoute') %>"><%= OLSKLocalized('KVCVitrineGlossaryCompareSimplenoteLinkText') %></a>
		</li>
	</ul>
	
	<%- include('../../node_modules/ROCOGlossary/main.ejs', {
		ROCOGlossaryHeadingEnabled: true
	}) %>
</dl>

<h1 class="KVCVitrineVideoHeading"><%= OLSKLocalized('OLSKWordingVideo') %></h1>

<div class="OLSKCommonVideoList">
	<p class="KVCVitrineVideo1 OLSKCommonVideoListItem OLSKCommonVideoListItemMobile">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_1 %>" allowfullscreen></iframe>
	</p>

	<p class="KVCVitrineVideo2 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_2 %>" allowfullscreen></iframe>
	</p>
</div>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: process.env.ROCO_SHARED_PROJECT_ID,
}) %>

<%- include('../../node_modules/OLSKJar/main.ejs') %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="KVCVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="KVCVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<%- include('../../node_modules/ROCOEphemerataLink/main.ejs') %>

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
