<%
locals.OLSKPageTitle = OLSKLocalized('KVCVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('KVCVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
	'__compiled/ui-behaviour.js',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
locals.OLSKPageMetaTags = {
	viewport: 'width=device-width',
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<div class="KVCVitrine OLSKCommon">

<%- include('../_shared/__external/OLSKLanguageSwitcher/main.ejs') %>

<hr>

<div class="KVCVitrineIdentity">
	<img class="KVCVitrineIdentityLogo" src="/_shared/KVCRootLink/ui-assets/identity.svg" role="presentation" />
	<h1 class="KVCVitrineIdentityName"><%= OLSKLocalized('KVCVitrineTitle') %></h1>
</div>

<article class="KVCVitrineContent">

<%- OLSKStringReplaceTokens(KVCVitrineContent, {}) %>

<h2 class="KVCVitrineVideoHeading"><%= OLSKLocalized('KVCVitrineVideoHeadingText') %></h2>

<iframe class="KVCVitrineVideoFrame" <%= IsTestingBehaviour ? 'fake-' : '' %>src="<%= process.env.KVC_VITRINE_VIDEO_URL %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</article>

<hr />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>

<%- include('../_shared/common/layout-footer.ejs') %>
