<%
locals.OLSKPageTitle = OLSKLocalized('KVCVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('KVCVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('WKCManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="KVCVitrine OLSKDecor OLSKDecorCapped">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: '/_shared/KVCRootLink/ui-assets/identity.svg',
	OLSKCrownCardNameText: OLSKLocalized('KVCVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('KVCVitrineDescription'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKLocalized('OLSKWordingOpenApp'),
	OLSKLandingActionHref: OLSKCanonicalLocalized('KVCWriteRoute'),
}) %>

<h1 class="KVCVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('./submodules/KVCFeatureList/main.ejs') %>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs', {
	OLSKAppFeatureListRepoURL: process.env.OLSK_REPO_URL,
}).replace(/node_modules/g, '_shared/__external') %>

<a class="KVCVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('KVCGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="KVCVitrineVideoHeading"><%= OLSKLocalized('OLSKWordingVideo') %></h1>

<div class="OLSKCommonVideoList">
	<p class="KVCVitrineVideo1 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_1 %>" allowfullscreen></iframe>
	</p>

	<p class="KVCVitrineVideo2 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KVC_VITRINE_VIDEO_URL_2 %>" allowfullscreen></iframe>
	</p>
</div>

<h1 class="KVCVitrineGazetteHeading"><%= OLSKLocalized('OLSKGazetteHeadingText') %></h1>
<%- include('../../node_modules/OLSKFollow/main.ejs') %>
<%- include('../../node_modules/OLSKGazette/main.ejs', {
	OLSKGazetteProject: 'RP_003',
}) %>

<h1 class="KVCVitrineJarHeading"><%= OLSKLocalized('OLSKJarHeadingText') %></h1>
<%- include('../../node_modules/OLSKJar/main.ejs') %>

<h1 class="KVCVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="KVCVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
