<%
locals.OLSKPageTitle = OLSKTranslate('WKCLoginTitle');
%>

<%- include('../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<% if (locals.WKCLoginError) { %>
	<p><%= OLSKTranslate('WKCLoginFormFieldErrorText') %></p>
<% } %>

<form method="POST" action="<%= OLSKCanonicalFor('WKCRouteLoginSubmit') %>">
	<p>
		<input type="text" name="WKCLoginUsername" placeholder="<%= OLSKTranslate('WKCLoginFormFieldUsernameTitle') %>" value="<%= locals.WKCLoginUsername %>" autofocus />
	</p>

	<p>
		<input type="password" name="WKCLoginPassword" placeholder="<%= OLSKTranslate('WKCLoginFormFieldPasswordTitle') %>" />
	</p>

	<input type="submit" name="submit">
</form>

<%- include('../_shared/WKCLayout/footer.ejs') %>
