<header id="WKCSharedHeader">
	<a href="<%= OLSKCanonicalFor('WKCReadRoute') %>"><%= OLSKLocalized('WKCSharedHeaderTextWKCRead') %></a>
	<span>|</span>
	<a href="<%= OLSKCanonicalFor('WKCRouteNotes') %>"><%= OLSKLocalized('WKSharedHeaderNotesText') %></a>
	<span>|</span>
	<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
</header>
