<script type="text/javascript">
	WKCReadModuleSubscribe.lifecyclePageWillLoad();
</script>

<div id="WKCReadModuleSubscribe">
	<h1 id="WKCReadModuleSubscribeHeading"><%= OLSKLocalized('WKCReadModuleSubscribeHeadingText') %></h1>

	<form id="WKCReadModuleSubscribeFetchForm">
		<input type="text" placeholder="http(s)://…" autofocus id="WKCReadModuleSubscribeFetchFormURL" value="http://localhost:8000/test.html" />
		<input type="submit" value="<%= OLSKLocalized('WKCReadModuleSubscribeFetchFormSubmitText') %>">
	</form>

	<p id="WKCReadModuleSubscribeFetchFlash" class="WKCSharedHidden WKCSharedFlash"></p>

	<script type="text/javascript">
		d3.select('#WKCReadModuleSubscribeFetchForm').on('submit', function() {
			d3.event.preventDefault();
			
			WKCReadModuleSubscribe.interfaceFetchFormDidSubmit();
		});
	</script>

	<div id="WKCReadModuleSubscribeLoader" class="WKCSharedHidden">
		<%- include('../../_shared/WKCLoader/view.ejs') %>
	</div>

	<div id="WKCReadModuleSubscribeSuggestions" class="WKCSharedHidden">
		<p><%= OLSKLocalized('WKCReadModuleSubscribeSuggestionsAlertText') %></p>
		<ul id="WKCReadModuleSubscribeSuggestionsList"></ul>
	</div>

	<div id="WKCReadModuleSubscribeAlternatives" class="WKCSharedHidden">
		<p><%= OLSKLocalized('WKCReadModuleSubscribeAlternativesAlertText') %></p>
		<ul></ul>
	</div>

	<div id="WKCReadModuleSubscribeConfirmation" class="WKCSharedHidden">

		<h2><%= OLSKLocalized('WKCReadModuleSubscribeConfirmationHeadingText') %></h2>

		<form id="WKCReadModuleSubscribeConfirmationForm">
			<p>
				<input type="text" placeholder="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormNameText') %>" id="WKCReadModuleSubscribeConfirmationFormName">
			</p>
			
			<p>
				<textarea placeholder="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormBlurbText') %>" id="WKCReadModuleSubscribeConfirmationFormBlurb"></textarea>
			</p>
			
			<p>
				<input type="text" hidden id="WKCReadModuleSubscribeConfirmationFormType">
			</p>

			<p>
				<input type="submit" value="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormSubmitText') %>">
			</p>

			<p>
				<button type="button" id="WKCReadModuleSubscribeConfirmationClearButton"><%= OLSKLocalized('WKCReadModuleSubscribeConfirmationClearButtonText') %></button>
			</p>
			<script type="text/javascript">
				d3.select('#WKCReadModuleSubscribeConfirmationClearButton').on('click', WKCReadModuleSubscribe.interfaceConfirmationClearButtonDidClick);
			</script>
		</form>

		<script type="text/javascript">
			d3.select('#WKCReadModuleSubscribeConfirmationForm').on('submit', function() {
				d3.event.preventDefault();
				
				WKCReadModuleSubscribe.interfaceConfirmationFormDidSubmit();
			});
		</script>

		<h3><%= OLSKLocalized('WKCReadModuleSubscribeConfirmationPreviewHeadingText') %> (<span id="WKCReadModuleSubscribeConfirmationPreviewHeadingType"></span>)</h3>

		<section id="WKCReadModuleSubscribeConfirmationPreviewFeed" class="WKCReadModuleSubscribeConfirmationPreview">
			<ul id="WKCReadModuleSubscribeConfirmationPreviewFeedList"></ul>
		</section>

		<section id="WKCReadModuleSubscribeConfirmationPreviewFile" class="WKCReadModuleSubscribeConfirmationPreview">
			<pre></pre>
		</section>

		<section id="WKCReadModuleSubscribeConfirmationPreviewPage" class="WKCReadModuleSubscribeConfirmationPreview"></section>
	</div>
</div>
