<script type="text/javascript">
	WKSubscriptionsModuleCreate.lifecyclePageWillLoad();
</script>

<div id="WKCReadModuleSubscribe">
	<h1 id="WKCReadModuleSubscribeHeading"><%= OLSKLocalized('WKCReadModuleSubscribeHeadingText') %></h1>

	<form id="WKCReadModuleSubscribeFetchForm">
		<input type="text" placeholder="http(s)://…" autofocus id="WKCReadModuleSubscribeFetchFormURL" value="http://localhost:8000/test.html" />
		<input type="submit" value="<%= OLSKLocalized('WKCReadModuleSubscribeFetchFormSubmitText') %>">
	</form>

	<p id="WKCReadModuleSubscribeFetchFlash" class="WKCSubscriptionsHidden WKCSharedFlash"></p>

	<script type="text/javascript">
		d3.select('#WKCReadModuleSubscribeFetchForm').on('submit', function() {
			d3.event.preventDefault();
			
			WKSubscriptionsModuleCreate.interfaceFetchFormDidSubmit();
		});
	</script>

	<div id="WKCReadModuleSubscribeLoader" class="WKCSubscriptionsHidden">
		<div class="ispinner ispinner--gray ispinner--animating">
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		</div>
	</div>

	<div id="WKCReadModuleSubscribeSuggestions" class="WKCSubscriptionsHidden">
		<p><%= OLSKLocalized('WKCReadModuleSubscribeSuggestionsAlertText') %></p>
		<ul id="WKCReadModuleSubscribeSuggestionsList"></ul>
	</div>

	<div id="WKCReadModuleSubscribeAlternativesFeeds" class="WKCSubscriptionsHidden">
		<p><%= OLSKLocalized('WKCReadModuleSubscribeAlternativesFeedsAlertText') %></p>
		<ul></ul>
	</div>

	<div id="WKCReadModuleSubscribeConfirmation" class="WKCSubscriptionsHidden">

		<h2><%= OLSKLocalized('WKCReadModuleSubscribeConfirmationHeadingText') %></h2>

		<form id="WKCReadModuleSubscribeConfirmationForm">
			<p>
				<input type="text" placeholder="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormNameText') %>" id="WKCReadModuleSubscribeConfirmationFormName">
			</p>
			
			<p>
				<textarea placeholder="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormBlurbText') %>" id="WKCReadModuleSubscribeConfirmationFormBlurb"></textarea>
			</p>
			
			<p>
				<input type="text" hidden id="WKCReadModuleSubscribeConfirmationFormType">
			</p>

			<p>
				<input type="submit" value="<%= OLSKLocalized('WKCReadModuleSubscribeConfirmationFormSubmitText') %>">
			</p>

			<p>
				<button type="button" id="WKCReadModuleSubscribeConfirmationClearButton"><%= OLSKLocalized('WKCReadModuleSubscribeConfirmationClearButtonText') %></button>
			</p>
			<script type="text/javascript">
				d3.select('#WKCReadModuleSubscribeConfirmationClearButton').on('click', WKSubscriptionsModuleCreate.interfaceConfirmationClearButtonDidClick);
			</script>
		</form>

		<script type="text/javascript">
			d3.select('#WKCReadModuleSubscribeConfirmationForm').on('submit', function() {
				d3.event.preventDefault();
				
				WKSubscriptionsModuleCreate.interfaceConfirmationFormDidSubmit();
			});
		</script>

		<h3><%= OLSKLocalized('WKCReadModuleSubscribePreviewHeadingText') %> (<span id="WKCReadModuleSubscribePreviewHeadingType"></span>)</h3>

		<section id="WKCReadModuleSubscribePreviewFeed" class="WKCReadModuleSubscribePreview">
			<ul id="WKCReadModuleSubscribePreviewFeedList"></ul>
		</section>

		<section id="WKCReadModuleSubscribePreviewFile" class="WKCReadModuleSubscribePreview">
			<pre></pre>
		</section>

		<section id="WKCReadModuleSubscribePreviewPage" class="WKCReadModuleSubscribePreview">
		</section>
	</div>
</div>