<%
locals.OLSKPageTitle = OLSKLocalized('WKCWriteHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/external/OLSKThrottle/main.js',
	'/shared-assets/external/turndown/dist/turndown.js',
	'/shared-assets/external/showdown/dist/showdown.js',
	'/shared-assets/internal/WKCParser/main.js',
	'/shared-assets/external/codemirror/lib/codemirror.css',
	'/shared-assets/external/codemirror/lib/codemirror.js',
	'/shared-assets/external/codemirror/addon/edit/continuelist.js',
	'/shared-assets/external/codemirror/addon/mode/overlay.js',
	'/shared-assets/external/codemirror/mode/markdown/markdown.js',
	'/shared-assets/external/codemirror/mode/gfm/gfm.js',
	'/panel/_shared/ui-style.css',
	'ui-style.css',
	'ui-editor-theme.css',
	'ui-logic.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCWriteErrorNotesUnavailable',
	'WKCWriteDetailToolbarPersistenceStatusSaving',
	'WKCWriteDetailToolbarPersistenceStatusSaved',
	'WKCWriteErrorPersistenceSaveDidFail',
	'WKCWriteDetailToolbarPersistenceStatusUnableToSave',
	'WKCWriteDetailToolbarPublishStatusPublishing',
	'WKCWriteDetailToolbarPublishStatusUnpublishing',
	'WKCWriteErrorPublishDidFail',
	'WKCWriteErrorUnpublishDidFail',
	'WKCWriteDetailToolbarPublishStatusUnableToPublish',
	'WKCWriteDetailToolbarPublishStatusUnableToUnpublish',
	'WKCWriteNotesDeleteAlertText',
	'WKCWriteDetailToolbarPersistenceStatusDeleting',
	'WKCWriteDetailToolbarPersistenceStatusDeleted',
	'WKCWriteErrorPersistenceDeleteDidFail',
	'WKCWriteDetailToolbarPersistenceStatusUnableToDelete',
	'WKCWriteDetailToolbarPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPINotesCreate',
	'WKCRouteAPIToken',
	'WKCRouteAPINotesSearch',
	'WKCRouteAPINotesUpdate',
	'WKCRouteAPINotesPublish',
	'WKCRouteAPINotesUnpublish',
	'WKCRouteRefsRead',
	'WKCRouteAPINotesDelete',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKCWriteBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCWrite" class="WKCWriteLoading">
	<div id="WKCWriteMaster">
		<header id="WKCWriteMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCWriteMasterToolbarCreateButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteMasterToolbarCreateButtonText') %>" style="background-image: url('/panel/_shared/wIKSharedCreate.svg')" accesskey="n" onclick="WKCWriteBehaviour.interfaceNotesMasterToolbarCreateButtonDidClick()"></button>
		</header>

		<div id="WKCWriteMasterContent">
			<div id="WKCWriteMasterContentList"></div>
			<div id="WKCWriteMasterLoader" class="WKCSharedHidden">
				<%- include('../_shared/WKCLoader/view.ejs') %>
			</div>
		</div>
	</div>

	<div id="WKCWriteDetail" class="WKCWriteDetailInactive">
		<header id="WKCWriteDetailToolbar" class="WKCSharedToolbar">
			<span id="WKCWriteDetailToolbarPersistenceStatus"></span>
			
			<span id="WKCWriteDetailToolbarPublishStatus"></span>

			<a id="WKCWriteDetailToolbarVisitButton" class="WKCSharedToolbarButton WKCSharedElementTappable" title="<%= OLSKLocalized('WKCWriteDetailToolbarVisitButtonText') %>" style="background-image: url('/panel/_shared/wIKWriteVisit.svg')" target="_blank"></a>

			<button id="WKCWriteDetailToolbarUnpublishButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarUnpublishButtonText') %>" style="background-image: url('/panel/_shared/wIKWriteUnpublish.svg')" onclick="WKCWriteBehaviour.interfaceUnpublishButtonDidClick()" ></button>

			<button id="WKCWriteDetailToolbarPublishButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarPublishButtonText') %>" style="background-image: url('/panel/_shared/wIKWritePublish.svg')" onclick="WKCWriteBehaviour.interfacePublishButtonDidClick()" ></button>

			<button id="WKCWriteDetailToolbarDiscardButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarDiscardButtonText') %>" style="background-image: url('/panel/_shared/wIKWriteDiscard.svg')" onclick="WKCWriteBehaviour.interfaceDeleteButtonDidClick()"></button>
		</header>

		<div id="WKCWriteDetailContent">
			<textarea id="WKCWriteDetailContentTextarea"></textarea>
		</div>

		<div id="WKCWriteDetailPlaceholder"><span><%= OLSKLocalized('WKCWriteDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
