<!DOCTYPE html>
<html<%- locals.OLSKSharedPageCurrentLanguage ? [' lang="', OLSKSharedPageCurrentLanguage, '"'].join('') : ''; %>>

<head>
	<% if (locals.OLSKPageTitle) { %>
		<title><%= locals.OLSKPageTitle %></title>
	<% } %>

	<% if (locals.OLSKPageDescription) { %>
		<meta name="description" content="<%= locals.OLSKPageDescription %>" />
	<% } %>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	<% if (process.env.WKC_TEMP_TOUCH_ICON_URL) { -%>
	<link rel="apple-touch-icon" href="<%= process.env.WKC_TEMP_TOUCH_ICON_URL %>">
	<% } -%>

	<% if (typeof locals.OLSKPageMetaTags === 'object') { %>
		<% Object.keys(locals.OLSKPageMetaTags).forEach(function(e) { %>
			<meta name="<%= e %>" content="<%= locals.OLSKPageMetaTags[e] %>">
		<% }) %>
	<% } %>

	<link rel="stylesheet" type="text/css" href="/shared-assets/external/normalize.css/normalize.css">

	<script src="/shared-assets/external/d3/dist/d3.min.js"></script>

	<% if (locals.OLSKPagePublicLocalizedStringKeys) { %>
	<script src="/shared-assets/external/OLSKInternational/main.js"></script>
	<script src="/shared-assets/external/OLSKString/main.js"></script>
	<script type="text/javascript">
		window.OLSKFormatted = OLSKString.OLSKStringWithFormat;
		window.OLSKLocalized = function(translationConstant) {
			return OLSKInternational.OLSKInternationalLocalizedStringWithTranslationKeyAndTranslationDictionary(translationConstant, <%- JSON.stringify(OLSKPagePublicLocalizedStringKeys.reduce(function(map, e) {
					map[e] = OLSKLocalized(e);
					return map;
				}, {})) %>);
		};
	</script>
	<% } %>

	<% if (locals.OLSKPagePublicRouteKeys) { %>
	<script src="/shared-assets/external/OLSKRouting/main.js"></script>
	<script type="text/javascript">
		window.OLSKCanonicalFor = function(routeConstant, optionalParams) {
			return OLSKRouting.OLSKRoutingCanonicalPathWithRoutePathAndOptionalParams((<%- JSON.stringify(OLSKPagePublicRouteKeys.reduce(function (map, e) {
				map[e] = OLSKRouteObjectFor(e).OLSKRoutePath;
				return map;
			}, {})) %>)[routeConstant], optionalParams);
		};
	</script>
	<% } %>

	<% if (locals.OLSKPagePublicConstants) { %>
	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify(OLSKPagePublicConstants) %>[inputData];
		};
	</script>
	<% } %>

	<% if (locals.OLSKSharedPageControllerSlug && Array.isArray(locals.OLSKPageAssets)) { %>
		<% locals.OLSKPageAssets.forEach(function(e) { %>
			<% var defaultDirectory = e[0] === '/' ? '' : '/' + (locals.OLSKSharedPageControllerSlug + '/'); %>
			
			<% if (e.split('.').pop() === 'js') { %>
	<script src="<%= defaultDirectory %><%= e %>"></script>
			<% } %>

			<% if (e.split('.').pop() === 'css') { %>
	<link rel="stylesheet" type="text/css" href="<%= defaultDirectory %><%= e %>">
			<% } %>
		<% }) %>
	<% } %>
</head>

<body id="OLSKSharedBody">

<div id="OLSKSharedContainer">
<!-- start #OLSKSharedContainer -->
