<!DOCTYPE html>
<html<%- locals.OLSKSharedPageCurrentLanguage ? [' lang="', OLSKSharedPageCurrentLanguage, '"'].join('') : ''; %>>

<head>
	<% var pageTitle = locals.OLSKPageTitle || (locals.OLSKLocalized ? OLSKLocalized('WKCSharedDefaultPageTitle') : null) || locals.OLSKSharedDefaultPageTitle  %>
	<% if (pageTitle) { %>
		<title><%= pageTitle %></title>
	<% } %>

	<% var pageDescription = locals.OLSKPageDescription || (locals.OLSKLocalized ? OLSKLocalized('WKCSharedDefaultPageDescription') : null) || locals.OLSKSharedDefaultPageDescription  %>
	<% if (pageDescription) { %>
		<meta name="description" content="<%= pageDescription %>" />
	<% } %>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	<% if (typeof locals.OLSKPageMetaTags === 'object') { %>
		<% Object.keys(locals.OLSKPageMetaTags).forEach(function(e) { %>
			<meta name="<%= e %>" content="<%= locals.OLSKPageMetaTags[e] %>">
		<% }) %>
	<% } %>

	<% if (locals.OLSKSharedActiveRouteConstant) { %>
		<link rel="canonical" href="<%= OLSKCanonicalFor(locals.OLSKSharedActiveRouteConstant) %>" />

		<% if (locals.OLSKSharedPageLanguagesAvailable) { %>
			<% locals.OLSKSharedPageLanguagesAvailable.forEach(function (e) { %>
				<link rel="alternate" hreflang="<%= e %>" href="<%= OLSKCanonicalLocalizedFor(OLSKSharedActiveRouteConstant, { OLSKRoutingLanguage: e }) %>" />
			<% }) %>
		<% } %>
	<% } %>

	<link rel="stylesheet" type="text/css" href="/shared-assets/vendor/normalize.css/normalize.css">

	<script src="/shared-assets/vendor/d3/dist/d3.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/shared-assets/style.css">

	<% if (locals.OLSKSharedPageControllerSlug && Array.isArray(locals.OLSKPageAssets)) { %>
		<% locals.OLSKPageAssets.forEach(function(e) { %>
			<% var defaultDirectory = e[0] === '/' ? '' : '/' + locals.OLSKSharedPageControllerSlug + '/'; %>
			
			<% if (e.split('.').pop() === 'js') { %>
				<script src="<%= defaultDirectory %><%= e %>"></script>
			<% } %>

			<% if (e.split('.').pop() === 'css') { %>
				<link rel="stylesheet" type="text/css" href="<%= defaultDirectory %><%= e %>">
			<% } %>
		<% }) %>
	<% } %>

	<% if (locals.OLSKHeadCallback) { %>
		<% OLSKHeadCallback() %>
	<% } %>
</head>

<body id="OLSKSharedBody">

<div id="OLSKSharedContainer">
<!-- start #OLSKSharedContainer -->
