<%
locals.OLSKPageTitle = OLSKLocalized('WKCReadHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/external/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/external/identicon.js/identicon.js',
	'/shared-assets/external/blueimp-md5/js/md5.min.js',
	'/shared-assets/external/turndown/dist/turndown.js',
	'/shared-assets/external/showdown/dist/showdown.js',
	'/shared-assets/external/moment/moment.js',
	'/shared-assets/external/OLSKType/main.js',
	'/shared-assets/external/url-parse/dist/url-parse.min.js',
	'/shared-assets/internal/WKCResponseParser/main.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-subscribe/suggest.js',
	'module-subscribe/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCReadSourcesContentListItemInboxText',
	'WKCReadSourcesContentListItemArchivedText',
	'WKCReadSourcesContentListItemDiscardedText',
	'WKCReadErrorArticlesMarkAsDiscardedText',
	'WKCReadErrorArticlesMarkAsReadText',
	'WKCReadErrorArticlesUnavailableText',
	'WKCReadErrorArticlesUpdateText',
	'WKCReadErrorSubscriptionsUnavailableText',
	'WKCReadModuleSubscribeErrorCreateText',
	'WKCReadModuleSubscribeErrorFetchText',
	'WKCReadModuleSubscribeErrorCustomTwitterMissingToken',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeStandard',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeSecure',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeCustomTwitterTimeline',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedRSSText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFeedAtomText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeCustomTwitterTimelineText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypeFileText',
	'WKCReadModuleSubscribeConfirmationPreviewHeadingTypePageText',
	'WKCReadModuleSubscribeConfirmationFrequencyFormat',
	'WKCReadModuleSubscribeFlashFormat',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKCReadBehaviour.lifecyclePageWillLoad();

	d3.select(document.body).on('keydown', function () {
		if (d3.event.code === 'Backspace') {
			return WKCReadBehaviour.interfaceArticlesDiscardButtonDidClick();
		}

		if (d3.event.code === 'Escape') {
			return WKCReadBehaviour.interfaceSubscriptionsCreateCloseButtonDidClick();
		}
	});
</script>

<div id="WKCRead" class="WKCReadLoading">
	<div id="WKCReadSubscribe">
		<header id="WKCReadSubscribeHeader" class="WKCSharedToolbar">
			<button id="WKCReadSubscribeHeaderCloseButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCReadSubscribeHeaderCloseButton').on('click', WKCReadBehaviour.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-subscribe/view.ejs') %>
	</div>

	<div id="WKCReadSources">
		<header id="WKCReadSourcesToolbar" class="WKCSharedToolbar">&nbsp;</header>

		<div id="WKCReadSourcesContent">
			<ul id="WKCReadSourcesContentList">
				<li>
					<!-- <h6 id="WKCReadSourcesContentListOutlooksHeading" class="WKCReadSourcesContentListHeading">&nbsp;</h6> -->

					<ul id="WKCReadSourcesContentListOutlooksList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				<li>
					<h6 class="WKCReadSourcesContentListHeading"><span class="WKCReadText"><%= OLSKLocalized('WKCReadHeadingText') %></span></h6>

					<ul id="WKCReadSourcesContentListSubscriptionsList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div id="WKCReadMaster">
		<header id="WKCReadMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCReadMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n">➕</button>
			<script type="text/javascript">
				d3.select('#WKCReadMasterToolbarCreateButton').on('click', WKCReadBehaviour.interfaceSubscriptionsCreateButtonDidClick);
			</script>
		</header>

		<div id="WKCReadMasterContent">
			<div id="WKCReadMasterContentList"></div>
			<div id="WKCReadMasterLoader" class="WKCSharedHidden">
				<%- include('../_shared/WKCLoader/view.ejs') %>
			</div>
		</div>
	</div>

	<div id="WKCReadDetail" class="WKCReadDetailInactive">
		<header id="WKCReadDetailToolbar" class="WKCSharedToolbar">
			<button id="WKCReadDetailToolbarUnreadButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle WKCSharedHidden">⚫︎</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarUnreadButton').on('click', WKCReadBehaviour.interfaceArticlesUnreadButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarInboxButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle WKCSharedHidden"><%= OLSKLocalized('WKCReadDetailToolbarInboxButtonText') %></button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarInboxButton').on('click', WKCReadBehaviour.interfaceArticlesInboxButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarArchiveButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="a">📂</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarArchiveButton').on('click', WKCReadBehaviour.interfaceArticlesArchiveButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">🗑</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarDiscardButton').on('click', WKCReadBehaviour.interfaceArticlesDiscardButtonDidClick);
			</script>
		</header>

		<article id="WKCReadDetailContent">
			<h1 id="WKCReadDetailContentHeading"></h1>
			<span id="WKCReadDetailContentInfo">
				<span id="WKCReadDetailContentAuthor"></span>
				&mdash;
				<span id="WKCReadDetailContentDate"></span>
				&mdash;
				<span id="WKCReadDetailContentSource"></span>
			</span>
			<a id="WKCReadDetailContentLink" target="_blank"><%= OLSKLocalized('WKCReadDetailContentLinkText') %></a></span>
			<div id="WKCReadDetailContentBody"></div>
		</article>

		<div id="WKCReadDetailPlaceholder"><span><%= OLSKLocalized('WKCReadDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
