<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/external/ispinner.css/ispinner.prefixed.css',
	'/shared-assets/external/identicon.js/identicon.js',
	'/shared-assets/external/blueimp-md5/js/md5.min.js',
	'/shared-assets/external/turndown/dist/turndown.js',
	'/shared-assets/external/showdown/dist/showdown.js',
	'/shared-assets/external/moment/moment.js',
	'/shared-assets/external/OLSKType/main.js',
	'/shared-assets/external/url-parse/dist/url-parse.min.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
	'module-subscribe/suggest.js',
	'module-subscribe/ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCReadSourcesContentListItemInboxText',
	'WKCReadSourcesContentListItemArchivedText',
	'WKCReadSourcesContentListItemDiscardedText',
	'WKCReadErrorArticlesMarkAsDiscardedText',
	'WKCReadErrorArticlesMarkAsReadText',
	'WKCReadErrorArticlesUnavailableText',
	'WKCReadErrorArticlesUpdateText',
	'WKCReadErrorSubscriptionsUnavailableText',
	'WKCReadModuleSubscribeErrorCreateText',
	'WKCReadModuleSubscribeErrorFetchText',
	'WKCReadModuleSubscribeErrorTwitterMissingToken',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeStandard',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeSecure',
	'WKCReadModuleSubscribeSuggestionsNameTextSuggestionsTypeCustomTwitter',
	'WKCReadModuleSubscribePreviewTypeFeedRSSText',
	'WKCReadModuleSubscribePreviewTypeFeedAtomText',
	'WKCReadModuleSubscribePreviewTypeFileText',
	'WKCReadModuleSubscribePreviewTypePageText',
	'WKCReadModuleSubscribeFlashFormat',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPIToken',
	'WKCRouteAPISubscriptionsFetch',
	'WKCRouteAPISubscriptionsCreate',
	'WKCRouteAPISubscriptionsSearch',
	'WKCRouteAPIArticlesSearch',
	'WKCRouteAPIArticlesUpdate',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKSubscriptions.lifecyclePageWillLoad();

	d3.select(document.body).on('keydown', function () {
		if (d3.event.code === 'Backspace') {
			return WKSubscriptions.interfaceArticlesDiscardButtonDidClick();
		}

		if (d3.event.code === 'Escape') {
			return WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick();
		}
	});
</script>

<div id="WKCSubscriptions" class="WKCSubscriptionsLoading">
	<div id="WKCReadSubscribe">
		<header id="WKCReadSubscribeHeader" class="WKCSharedToolbar">
			<button id="WKCReadSubscribeHeaderCloseButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">✖️</button>
			<script type="text/javascript">
				d3.select('#WKCReadSubscribeHeaderCloseButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateCloseButtonDidClick);
			</script>
		</header>
		<%- include('./module-subscribe/view.ejs') %>
	</div>

	<div id="WKCReadSources">
		<header id="WKCReadSourcesToolbar" class="WKCSharedToolbar">&nbsp;</header>

		<div id="WKCReadSourcesContent">
			<ul id="WKCReadSourcesContentList">
				<li>
					<!-- <h6 id="WKCReadSourcesContentListOutlooksHeading" class="WKCReadSourcesContentListHeading">&nbsp;</h6> -->

					<ul id="WKCReadSourcesContentListOutlooksList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				<li>
					<h6 class="WKCReadSourcesContentListHeading"><span class="WKCSubscriptionsText"><%= OLSKLocalized('WKCSubscriptionsHeadingText') %></span></h6>

					<ul id="WKCReadSourcesContentListSubscriptionsList" class="WKCReadSourcesContentListChildList"></ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div id="WKCReadMaster">
		<header id="WKCReadMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCReadMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n">➕</button>
			<script type="text/javascript">
				d3.select('#WKCReadMasterToolbarCreateButton').on('click', WKSubscriptions.interfaceSubscriptionsCreateButtonDidClick);
			</script>
		</header>

		<div id="WKCReadMasterContent">
			<div id="WKCReadMasterContentList"></div>
			<div id="WKCReadMasterLoader" class="WKCSubscriptionsHidden">
				<div class="ispinner ispinner--gray ispinner--animating">
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				  <div class="ispinner__blade"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="WKCReadDetail" class="WKCReadDetailInactive">
		<header id="WKCReadDetailToolbar" class="WKCSharedToolbar">
			<button id="WKCReadDetailToolbarUnreadButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle WKCSubscriptionsHidden">⚫︎</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarUnreadButton').on('click', WKSubscriptions.interfaceArticlesUnreadButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarInboxButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle WKCSubscriptionsHidden"><%= OLSKLocalized('WKCReadDetailToolbarInboxButtonText') %></button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarInboxButton').on('click', WKSubscriptions.interfaceArticlesInboxButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarArchiveButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="a">📂</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarArchiveButton').on('click', WKSubscriptions.interfaceArticlesArchiveButtonDidClick);
			</script>

			<button id="WKCReadDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle">🗑</button>
			<script type="text/javascript">
				d3.select('#WKCReadDetailToolbarDiscardButton').on('click', WKSubscriptions.interfaceArticlesDiscardButtonDidClick);
			</script>
		</header>

		<article id="WKCReadDetailContent">
			<h1 id="WKCReadDetailContentHeading"></h1>
			<span id="WKCReadDetailContentInfo">
				<span id="WKCReadDetailContentAuthor"></span>
				&mdash;
				<span id="WKCReadDetailContentDate"></span>
				&mdash;
				<span id="WKCReadDetailContentSource"></span>
			</span>
			<a id="WKCReadDetailContentLink" target="_blank"><%= OLSKLocalized('WKCReadDetailContentLinkText') %></a></span>
			<div id="WKCReadDetailContentBody"></div>
		</article>

		<div id="WKCReadDetailPlaceholder"><span><%= OLSKLocalized('WKCReadDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
