<%
locals.OLSKPageTitle = OLSKLocalized('WKCWriteHeadingText');
locals.OLSKPageAssets = [
	'/_shared/_external/turndown/dist/turndown.js',
	'/_shared/_external/showdown/dist/showdown.js',
	'/_shared/WKCParser/main.js',
	'/_shared/_external/OLSKThrottle/main.js',
	'ui-editor-theme.css',
	'/_shared/_external/codemirror/lib/codemirror.css',
	'/_shared/_external/codemirror/lib/codemirror.js',
	'/_shared/_external/codemirror/addon/edit/continuelist.js',
	'/_shared/_external/codemirror/addon/mode/overlay.js',
	'/_shared/_external/codemirror/mode/markdown/markdown.js',
	'/_shared/_external/codemirror/mode/gfm/gfm.js',
	'/_shared/_external/url-parse/dist/url-parse.min.js',
	'/panel/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'/_shared/_external/remotestoragejs/release/remotestorage.js',
	'/_shared/_external/remotestorage-widget/build/widget.js',
	'/_shared/_external/ulid/dist/index.umd.js',
	'/_shared/rs-modules/wik_notes/model.js',
	'/_shared/rs-modules/wik_notes/rs-module.js',
	'/_shared/RSStorageClient/storage.js',
	'/_shared/rs-modules/wik_notes/metal.js',
	'/_shared/rs-modules/wik_notes/action.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCWriteErrorNotesUnavailable',
	'WKCWriteErrorPersistenceSaveDidFail',
	'WKCWriteDetailToolbarPublishStatusPublishing',
	'WKCWriteDetailToolbarPublishStatusUnpublishing',
	'WKCWriteErrorPublishDidFail',
	'WKCWriteErrorUnpublishDidFail',
	'WKCWriteDetailToolbarPublishStatusUnableToPublish',
	'WKCWriteDetailToolbarPublishStatusUnableToUnpublish',
	'WKCWriteNotesDeleteAlertText',
	'WKCWriteErrorPersistenceDeleteDidFail',
	'WKCWriteDetailToolbarPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteRefsRead',
];
%>

<%- include('../../_shared/common/layout-header.ejs') %>

<div id="WKCWrite" class="WKCWriteLoading">
	<div id="WKCWriteMaster">
		<header id="WKCWriteMasterToolbar" class="WKCSharedToolbar">
			<input id="WKCWriteMasterToolbarFilterInput" placeholder="<%= OLSKLocalized('WKCWriteMasterToolbarFilterInputPlaceholderText') %>" oninput="WIKWriteBehaviour.interfaceNotesMasterToolbarFilterInputDidInput()" accesskey="f">

			<button id="WKCWriteMasterToolbarCreateButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteMasterToolbarCreateButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKSharedCreate.svg')" accesskey="n" onclick="WIKWriteBehaviour.interfaceNotesMasterToolbarCreateButtonDidClick()"></button>
		</header>

		<div id="WKCWriteMasterContent">
			<div id="WKCWriteMasterContentList"></div>
			<div id="WKCWriteMasterLoader" class="WKCSharedHidden">
				<%- include('../_shared/WKCLoader/view.ejs') %>
			</div>
		</div>
	</div>

	<div id="WKCWriteDetail" class="WKCWriteDetailInactive">
		<header id="WKCWriteDetailToolbar" class="WKCSharedToolbar">
			<span id="WKCWriteDetailToolbarPublishStatus"></span>

			<a id="WKCWriteDetailToolbarVisitButton" class="WKCSharedToolbarButton WKCSharedElementTappable" title="<%= OLSKLocalized('WKCWriteDetailToolbarVisitButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKWriteVisit.svg')" target="_blank"></a>

			<button id="WKCWriteDetailToolbarUnpublishButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarUnpublishButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKWriteUnpublish.svg')" onclick="WIKWriteBehaviour.interfaceUnpublishButtonDidClick()" disabled></button>

			<button id="WKCWriteDetailToolbarPublishButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarPublishButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKWritePublish.svg')" onclick="WIKWriteBehaviour.interfacePublishButtonDidClick()" disabled></button>

			<button id="WKCWriteDetailToolbarDiscardButton" class="WKCSharedToolbarButton WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarDiscardButtonText') %>" style="background-image: url('/panel/_shared/ui-assets/wIKWriteDiscard.svg')" onclick="WIKWriteBehaviour.interfaceDeleteButtonDidClick()"></button>
		</header>

		<div id="WKCWriteDetailContent">
			<textarea id="WKCWriteDetailContentTextarea"></textarea>
		</div>

		<div id="WKCWriteDetailPlaceholder"><span><%= OLSKLocalized('WKCWriteDetailPlaceholderText') %></span></div>
	</div>
</div>

<div id="WKCUpdateNotification" class="WKCSharedHidden">Update Available: <button id="WKCUpdateNotificationReloadButton">Reload</button></div>

<div id="WKCStorageWidget"></div>

<script type="text/javascript">
	WIKWriteBehaviour.lifecyclePageWillLoad();
</script>

<%- include('../../_shared/common/layout-footer.ejs') %>
