<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/OLSKTasks/main.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCAppNotesErrorNotesUnavailable',
	'WKCAppNotesDetailToolbarPersistenceStatusSaving',
	'WKCAppNotesDetailToolbarPersistenceStatusSaved',
	'WKCAppNotesErrorPersistenceSaveDidFail',
	'WKCAppNotesDetailToolbarPersistenceStatusUnableToSave',
	'WKCAppNotesDetailToolbarPublishStatusPublishing',
	'WKCAppNotesErrorPublishDidFail',
	'WKCAppNotesDetailToolbarPublishStatusUnableToPublish',
	'WKCAppNotesDeleteConfirmation',
	'WKCAppNotesDetailToolbarPersistenceStatusDeleting',
	'WKCAppNotesDetailToolbarPersistenceStatusDeleted',
	'WKCAppNotesErrorPersistenceDeleteDidFail',
	'WKCAppNotesDetailToolbarPersistenceStatusUnableToDelete',
	'WKCAppNotesDetailToolbarPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPINotesCreate',
	'WKCRouteAPIToken',
	'WKCRouteAPINotesSearch',
	'WKCRouteAPINotesUpdate',
	'WKCRouteAPINotesPublish',
	'WKCRouteAPINotesDelete',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCAppNotes" class="WKCAppNotesLoading">
	<div id="WKCAppNotesMaster">
		<header id="WKCAppNotesMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCAppNotesMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n" title="<%= OLSKLocalized('WKCAppNotesMasterToolbarCreateButtonText') %>">➕</button>
			<script type="text/javascript">
				d3.select('#WKCAppNotesMasterToolbarCreateButton').on('click', WKBehaviour.interfaceAddButtonDidClick);
			</script>
		</header>

		<div id="WKCAppNotesMasterContent"></div>
	</div>

	<div id="WKCAppNotesDetail" class="WKCAppNotesDetailInactive">
		<header id="WKCAppNotesDetailToolbar" class="WKCSharedToolbar">
			<span id="WKCAppNotesDetailToolbarPersistenceStatus"></span>
			
			<span id="WKCAppNotesDetailToolbarPublishStatus"></span>

			<button id="WKCAppNotesDetailToolbarPublishButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCAppNotesDetailToolbarPublishButtonText') %>" disabled>⬆️</button>
			<script type="text/javascript">
				d3.select('#WKCAppNotesDetailToolbarPublishButton').on('click', WKBehaviour.interfacePublishButtonDidClick);
			</script>

			<button id="WKCAppNotesDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCAppNotesDetailToolbarDiscardButtonText') %>" disabled>🗑</button>
			<script type="text/javascript">
				d3.select('#WKCAppNotesDetailToolbarDiscardButton').on('click', WKBehaviour.interfaceDeleteButtonDidClick);
			</script>
		</header>

		<div id="WKCAppNotesDetailContent">
			<textarea id="WKCNotesAppEditorTextarea" disabled></textarea>
			<script type="text/javascript">
				d3.select('#WKCNotesAppEditorTextarea').on('input', WKBehaviour.interfaceEditorTextareaDidReceiveInput);
			</script>
		</div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
