<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'ui-style.css',
	'ui-logic.js',
	'ui-interaction.js',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<script type="text/javascript">
	var sharedData = {
		WKCAppNotesSharedEditObject: {},
	};

	d3.json('<%= OLSKCanonicalFor('WKCRouteAPIToken') %>', {
		method: 'GET',
	}).then(function(responseJSON) {
		if (!responseJSON.WKCAPIToken) {
			window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorTokenUnavailable %>');
			throw new Error('WKCAppErrorTokenUnavailable');
		}

		sharedData.WKCAppNotesSharedAPIToken = responseJSON.WKCAPIToken;

		d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesSearch') %>', {
			method: 'GET',
			headers: {
				'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
			},
		}).then(function(responseJSON) {
			if (!Array.isArray(responseJSON)) {
				window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorEntriesUnavailable %>');
				throw new Error('WKCAppErrorEntriesUnavailable');
			}

			d3.select('#WKCAppNotes').classed('WKCAppNotesLoading', false);
			WKCNotesAppInteraction.WKCNotesAppPerformDataJoinFor(responseJSON);
		});
	});
</script>

<div id="WKCAppNotes" class="WKCAppNotesLoading">
	<header id="WKCAppNotesToolbar">
		<button id="WKCNotesAddButton" accesskey="n"><%= OLSKLocalized('WKCNotesAddButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCNotesAddButton').on('click', function() {
				d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesCreate') %>', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
					},
					body: JSON.stringify({
						WKCNoteBody: 'alpha',
					}),
				}).then(function(data) {
					console.log(data);
				});
			});
		</script>
	</header>

	<div id="WKCAppNotesMain">
		<div id="WKCAppNotesList">
		</div>

		<div id="WKCAppNotesEditor">
			<textarea id="WKCNotesAppEditorTextarea"></textarea>
			<script type="text/javascript">
				d3.select('#WKCNotesAppEditorTextarea').on('input', function() {
					sharedData.WKCAppNotesSharedEditObject.WKCNoteBody = this.value;
				});
			</script>
		</div>
	</div>

	<footer id="WKCAppNotesFooter">
		<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
	</footer>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>