<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'script.js',
	'style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<header id="WKCCMSHeader">
	<div>
		<span><strong><%= locals.OLSKPageTitle %></strong></span>
	</div>
	<div>
		<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
	</div>
</header>

<button id="WKCNotesAddButton"><%= OLSKLocalized('WKCNotesAddButtonText') %></button>
<script type="text/javascript">
	d3.select('#WKCNotesAddButton').on('click', function() {
		d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesCreate') %>', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'x-client-key': '<%= WKCNotesInsecureAPIToken %>',
			},
			body: JSON.stringify({
				WKCNoteBody: 'alpha',
			}),
		}).then(function(data) {
			console.log(data);
		});
	});
</script>


<%- include('../../_shared/WKCLayout/footer.ejs') %>