<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'ui-style.css',
	'ui-logic.js',
	'ui-interaction.js',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<script type="text/javascript">
	var sharedData = {
		WKCAppNotesSharedSelectedItem: {},
	};

	d3.json('<%= OLSKCanonicalFor('WKCRouteAPIToken') %>', {
		method: 'GET',
	}).then(function(responseJSON) {
		if (!responseJSON.WKCAPIToken) {
			window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorTokenUnavailable %>');
			throw new Error('WKCAppErrorTokenUnavailable');
		}

		sharedData.WKCAppNotesSharedAPIToken = responseJSON.WKCAPIToken;

		d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesSearch') %>', {
			method: 'GET',
			headers: {
				'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
			},
		}).then(function(responseJSON) {
			if (!Array.isArray(responseJSON)) {
				window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorEntriesUnavailable %>');
				throw new Error('WKCAppErrorEntriesUnavailable');
			}

			d3.select('#WKCAppNotes').classed('WKCAppNotesLoading', false);
			WKCNotesAppInteraction.WKCNotesAppPerformDataJoinWithItemsArrayAndSharedData(responseJSON.map(function(e) {
				return Object.assign(e, {
					WKCNoteDateCreated: new Date(e.WKCNoteDateCreated),
					WKCNoteDateUpdated: new Date(e.WKCNoteDateUpdated),
				});
			}).sort(WKCNotesApp.WKCNotesAppListSort), sharedData);

			if (!d3.selectAll('.WKCAppNotesListItem').data().length) {
				return;
			}

			WKCNotesAppInteraction.WKCNotesAppSetSelectedItemWithSharedData(d3.selectAll('.WKCAppNotesListItem').data()[0], sharedData);
		});
	});
</script>

<div id="WKCAppNotes" class="WKCAppNotesLoading">
	<header id="WKCAppNotesToolbar">
		<span id="WKCAppNotesPersistenceStatus"></span>
		<span id="WKCAppNotesPublishStatus"></span>

		<button id="WKCAppNotesAddButton" accesskey="n"><%= OLSKLocalized('WKCAppNotesAddButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesAddButton').on('click', function() {
				WKCNotesAppInteraction.WKCNotesAppSetSelectedItemWithSharedData({
					WKCNoteDateCreated: new Date(),
					WKCNoteBody: '',
				}, sharedData);

				WKCNotesAppInteraction.WKCNotesAppPerformDataJoinWithItemsArrayAndSharedData(d3.selectAll('.WKCAppNotesListItem').data().concat(sharedData.WKCAppNotesSharedSelectedItem).sort(WKCNotesApp.WKCNotesAppListSort), sharedData);

				d3.select('#WKCNotesAppEditorTextarea').attr('disabled', null);
				d3.select('#WKCNotesAppEditorTextarea').node().focus();
			});
		</script>

		<button id="WKCAppNotesDeleteButton" disabled><%= OLSKLocalized('WKCAppNotesDeleteButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesDeleteButton').on('click', function() {
				var persistenceIsCued = !!sharedData.WKCAppNotesSharedPersistenceTask._OLSKTaskTimerID;

				clearInterval(sharedData.WKCAppNotesSharedPersistenceTask._OLSKTaskTimerID);

				if (!window.confirm('<%= OLSKLocalized('WKCAppNotesDeleteConfirmation') %>')) {
					if (persistenceIsCued) {
						OLSKTasks.OLSKTasksTimeoutForTaskObject(sharedData.WKCAppNotesSharedPersistenceTask);
					}

					return;
				};

				d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusDeleting') %>');

				return d3.json((<%- OLSKCanonicalSubstitutionFunctionFor('WKCRouteAPINotesDelete') %>)({
					wkc_note_id: sharedData.WKCAppNotesSharedSelectedItem.WKCNoteID,
				}), {
					method: 'DELETE',
					headers: {
						'Content-Type': 'application/json',
						'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
					},
				}).then(function(responseJSON) {
					d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusDeleted') %>');

					WKCNotesAppInteraction.WKCNotesAppPerformDataJoinWithItemsArrayAndSharedData(d3.selectAll('.WKCAppNotesListItem').data().filter(function(e) {
						return e !== sharedData.WKCAppNotesSharedSelectedItem;
					}), sharedData);

					WKCNotesAppInteraction.WKCNotesAppSetSelectedItemWithSharedData(d3.selectAll('.WKCAppNotesListItem').data()[0], sharedData);

					setTimeout(function() {
						d3.select('#WKCAppNotesPersistenceStatus').text('');
					}, 1000);
				}, function(error) {
					d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusUnableToDelete') %>');

					throw error;
				});
			});
		</script>

		<button id="WKCAppNotesPublishButton" disabled><%= OLSKLocalized('WKCAppNotesPublishButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesPublishButton').on('click', function() {
				d3.select('#WKCAppNotesPublishStatus').text('<%= OLSKLocalized('WKCAppNotesPublishStatusPublishing') %>');
			});
		</script>
	</header>

	<div id="WKCAppNotesMain">
		<div id="WKCAppNotesList">
		</div>

		<div id="WKCAppNotesEditor">
			<textarea id="WKCNotesAppEditorTextarea" disabled></textarea>
			<script type="text/javascript">
				sharedData.WKCAppNotesSharedPersistenceTask = {
					OLSKTaskName: 'WKCTasksEditorPersistence',
					OLSKTaskFireTimeInterval: 3,
					OLSKTaskShouldBePerformed: function() {
						return true;
					},
					OLSKTaskFireLimit: 1,
					OLSKTaskCallback: function() {
						d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusSaving') %>');

						return (new Promise(function(resolve, reject) {
							if (!sharedData.WKCAppNotesSharedSelectedItem.WKCNoteID) {
								return resolve(d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesCreate') %>', {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
										'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
									},
									body: JSON.stringify(sharedData.WKCAppNotesSharedSelectedItem),
								}).then(function(responseJSON) {
									Object.assign(sharedData.WKCAppNotesSharedSelectedItem, responseJSON);
								}, reject));
							}

							return resolve(d3.json((<%- OLSKCanonicalSubstitutionFunctionFor('WKCRouteAPINotesUpdate') %>)({
								wkc_note_id: sharedData.WKCAppNotesSharedSelectedItem.WKCNoteID,
							}), {
								method: 'PUT',
								headers: {
									'Content-Type': 'application/json',
									'x-client-key': sharedData.WKCAppNotesSharedAPIToken,
								},
								body: JSON.stringify(sharedData.WKCAppNotesSharedSelectedItem),
							}));
							
						})).then(function() {
							d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusSaved') %>');

							setTimeout(function() {
								d3.select('#WKCAppNotesPersistenceStatus').text('');
							}, 1000);
						}, function(error) {
							throw error;
						}).catch(function(error) {
							if (window.confirm('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorPersistenceSaveDidFail %>')) {
								sharedData.WKCAppNotesSharedPersistenceTask.OLSKTaskCallback();
							};

							d3.select('#WKCAppNotesPersistenceStatus').text('<%= OLSKLocalized('WKCAppNotesPersistenceStatusUnableToSave') %>');

							throw error;
						}).finally(function() {
							delete sharedData.WKCAppNotesSharedPersistenceTask._OLSKTaskTimerID;
						});
					},
				};

				d3.select('#WKCNotesAppEditorTextarea').on('input', function() {
					clearInterval(sharedData.WKCAppNotesSharedPersistenceTask._OLSKTaskTimerID);
					OLSKTasks.OLSKTasksTimeoutForTaskObject(sharedData.WKCAppNotesSharedPersistenceTask);

					Object.assign(sharedData.WKCAppNotesSharedSelectedItem, {
						WKCNoteBody: this.value,
						WKCNoteDateUpdated: new Date(),
					});

					WKCNotesAppInteraction.WKCNotesAppPerformDataJoinWithItemsArrayAndSharedData(d3.selectAll('.WKCAppNotesListItem').data(), sharedData);
				});
			</script>
		</div>
	</div>

	<footer id="WKCAppNotesFooter">
		<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
	</footer>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>