<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'script.js',
	'style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<script type="text/javascript">
	d3.json('<%= OLSKCanonicalFor('WKCRouteAPIToken') %>', {
		method: 'GET',
	}).then(function(responseJSON) {
		if (!responseJSON.WKCAPIToken) {
			window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorTokenUnavailable %>');
			throw new Error('WKCAppErrorTokenUnavailable');
		}

		d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesSearch') %>', {
			method: 'GET',
			headers: {
				'x-client-key': responseJSON.WKCAPIToken,
			},
		}).then(function(responseJSON) {
			if (!Array.isArray(responseJSON)) {
				window.alert('<%= OLSKLocalized('WKCNotesErrors').WKCAppErrorEntriesUnavailable %>');
				throw new Error('WKCAppErrorEntriesUnavailable');
			}

			d3.select('#WKCAppNotes').classed('WKCAppNotesLoading', false);
			d3.select('#WKCAppNotesList')
				.selectAll('.WKCAppNotesListItem').data(responseJSON).enter()
				.append('div')
					.attr('class', 'WKCAppNotesListItem')
					.text(function(d) {
						return d.WKCNoteBody;
					});
		});
	});
</script>

<div id="WKCAppNotes" class="">
	<header id="WKCAppNotesToolbar">
		<button id="WKCNotesAddButton"><%= OLSKLocalized('WKCNotesAddButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCNotesAddButton').on('click', function() {
				d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesCreate') %>', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'x-client-key': '<%= 'WKCNotesInsecureAPIToken' %>',
					},
					body: JSON.stringify({
						WKCNoteBody: 'alpha',
					}),
				}).then(function(data) {
					console.log(data);
				});
			});
		</script>
	</header>

	<div id="WKCAppNotesMain">
		<div id="WKCAppNotesList">
		</div>

		<div id="WKCAppNotesEditor">
			<textarea></textarea>
		</div>
	</div>

	<footer id="WKCAppNotesFooter">
		<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
	</footer>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>