<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/OLSKTasks/main.js',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCAppNotesErrorNotesUnavailable',
	'WKCAppNotesPersistenceStatusSaving',
	'WKCAppNotesPersistenceStatusSaved',
	'WKCAppNotesErrorPersistenceSaveDidFail',
	'WKCAppNotesPersistenceStatusUnableToSave',
	'WKCAppNotesPublishStatusPublishing',
	'WKCAppNotesErrorPublishDidFail',
	'WKCAppNotesPublishStatusUnableToPublish',
	'WKCAppNotesDeleteConfirmation',
	'WKCAppNotesPersistenceStatusDeleting',
	'WKCAppNotesPersistenceStatusDeleted',
	'WKCAppNotesErrorPersistenceDeleteDidFail',
	'WKCAppNotesPersistenceStatusUnableToDelete',
	'WKCAppNotesPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPINotesCreate',
	'WKCRouteAPIToken',
	'WKCRouteAPINotesSearch',
	'WKCRouteAPINotesUpdate',
	'WKCRouteAPINotesPublish',
	'WKCRouteAPINotesDelete',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<script type="text/javascript">
	WKBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCAppNotes" class="WKCAppNotesLoading">
	<header id="WKCAppNotesToolbar">
		<span id="WKCAppNotesPersistenceStatus"></span>
		<span id="WKCAppNotesPublishStatus"></span>

		<button id="WKCAppNotesAddButton" accesskey="n"><%= OLSKLocalized('WKCAppNotesAddButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesAddButton').on('click', WKBehaviour.interfaceAddButtonDidClick);
		</script>

		<button id="WKCAppNotesDeleteButton" disabled><%= OLSKLocalized('WKCAppNotesDeleteButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesDeleteButton').on('click', WKBehaviour.interfaceDeleteButtonDidClick);
		</script>

		<button id="WKCAppNotesPublishButton" disabled><%= OLSKLocalized('WKCAppNotesPublishButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCAppNotesPublishButton').on('click', WKBehaviour.interfacePublishButtonDidClick);
		</script>
	</header>

	<div id="WKCAppNotesMain">
		<div id="WKCAppNotesList"></div>

		<div id="WKCAppNotesEditor">
			<textarea id="WKCNotesAppEditorTextarea" disabled></textarea>
			<script type="text/javascript">
				d3.select('#WKCNotesAppEditorTextarea').on('input', WKBehaviour.interfaceEditorTextareaDidReceiveInput);
			</script>
		</div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
