<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/OLSKTasks/main.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCNotesErrorNotesUnavailable',
	'WKCNotesDetailToolbarPersistenceStatusSaving',
	'WKCNotesDetailToolbarPersistenceStatusSaved',
	'WKCNotesErrorPersistenceSaveDidFail',
	'WKCNotesDetailToolbarPersistenceStatusUnableToSave',
	'WKCNotesDetailToolbarPublishStatusPublishing',
	'WKCNotesErrorPublishDidFail',
	'WKCNotesDetailToolbarPublishStatusUnableToPublish',
	'WKCNotesDeleteConfirmation',
	'WKCNotesDetailToolbarPersistenceStatusDeleting',
	'WKCNotesDetailToolbarPersistenceStatusDeleted',
	'WKCNotesErrorPersistenceDeleteDidFail',
	'WKCNotesDetailToolbarPersistenceStatusUnableToDelete',
	'WKCNotesDetailToolbarPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPINotesCreate',
	'WKCRouteAPIToken',
	'WKCRouteAPINotesSearch',
	'WKCRouteAPINotesUpdate',
	'WKCRouteAPINotesPublish',
	'WKCRouteAPINotesDelete',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCNotes" class="WKCNotesLoading">
	<div id="WKCNotesMaster">
		<header id="WKCNotesMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCNotesMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n" title="<%= OLSKLocalized('WKCNotesMasterToolbarCreateButtonText') %>">➕</button>
			<script type="text/javascript">
				d3.select('#WKCNotesMasterToolbarCreateButton').on('click', WKBehaviour.interfaceAddButtonDidClick);
			</script>
		</header>

		<div id="WKCNotesMasterContent"></div>
	</div>

	<div id="WKCNotesDetail" class="WKCNotesDetailInactive">
		<header id="WKCNotesDetailToolbar" class="WKCSharedToolbar">
			<span id="WKCNotesDetailToolbarPersistenceStatus"></span>
			
			<span id="WKCNotesDetailToolbarPublishStatus"></span>

			<button id="WKCNotesDetailToolbarPublishButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCNotesDetailToolbarPublishButtonText') %>" disabled>⬆️</button>
			<script type="text/javascript">
				d3.select('#WKCNotesDetailToolbarPublishButton').on('click', WKBehaviour.interfacePublishButtonDidClick);
			</script>

			<button id="WKCNotesDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCNotesDetailToolbarDiscardButtonText') %>" disabled>🗑</button>
			<script type="text/javascript">
				d3.select('#WKCNotesDetailToolbarDiscardButton').on('click', WKBehaviour.interfaceDeleteButtonDidClick);
			</script>
		</header>

		<div id="WKCNotesDetailContent">
			<textarea id="WKCNotesDetailContentTextarea" disabled></textarea>
			<script type="text/javascript">
				d3.select('#WKCNotesDetailContentTextarea').on('input', WKBehaviour.interfaceEditorTextareaDidReceiveInput);
			</script>
		</div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
