<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesTitle');
locals.OLSKPageAssets = [
	'script.js',
	'style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<div id="WKCAppNotes" class="">
	<header id="WKCAppNotesToolbar">
		<button id="WKCNotesAddButton"><%= OLSKLocalized('WKCNotesAddButtonText') %></button>
		<script type="text/javascript">
			d3.select('#WKCNotesAddButton').on('click', function() {
				d3.json('<%= OLSKCanonicalFor('WKCRouteAPINotesCreate') %>', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'x-client-key': '<%= WKCNotesInsecureAPIToken %>',
					},
					body: JSON.stringify({
						WKCNoteBody: 'alpha',
					}),
				}).then(function(data) {
					console.log(data);
				});
			});
		</script>
	</header>

	<div id="WKCAppNotesMain">
		<div id="WKCAppNotesList">
			<div>alpha</div>
			<div>bravo</div>
			<div>bravo</div>
		</div>

		<div id="WKCAppNotesEditor">
			<textarea></textarea>
		</div>
	</div>

	<footer id="WKCAppNotesFooter">
		<a href="<%= OLSKCanonicalFor('WKCRouteLoginDestroy') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
	</footer>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>