<script type="text/javascript">
	WKSubscriptionsModuleCreate.lifecyclePageWillLoad();
</script>

<div id="WKCSubscriptionsModuleCreate">
	<h1 id="WKCSubscriptionsModuleCreateHeading"><%= OLSKLocalized('WKCSubscriptionsModuleCreateHeadingText') %></h1>

	<form id="WKCSubscriptionsModuleCreateFetchForm">
		<input type="text" placeholder="http(s)://…" autofocus id="WKCSubscriptionsModuleCreateFetchFormInput">
		<input type="submit" value="<%= OLSKLocalized('WKCSubscriptionsModuleCreateFetchFormSubmitText') %>">
	</form>

	<p id="WKCSubscriptionsModuleCreateFetchFlash" class="WKCSubscriptionsHidden WKCSharedFlash"></p>

	<script type="text/javascript">
		d3.select('#WKCSubscriptionsModuleCreateFetchForm').on('submit', function() {
			d3.event.preventDefault();
			
			WKSubscriptionsModuleCreate.interfaceFetchFormDidSubmit();
		});
	</script>

	<div id="WKCSubscriptionsModuleCreateLoader" class="WKCSubscriptionsHidden">
		<div class="ispinner ispinner--gray ispinner--animating">
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		  <div class="ispinner__blade"></div>
		</div>
	</div>

	<div id="WKCSubscriptionsModuleCreateAlternatives" class="WKCSubscriptionsHidden">
		<p><%= OLSKLocalized('WKCSubscriptionsModuleCreateAlternativesAlertText') %></p>
		<ul></ul>
	</div>

	<div id="WKCSubscriptionsModuleCreateConfirmation" class="WKCSubscriptionsHidden">

		<h2><%= OLSKLocalized('WKCSubscriptionsModuleCreateConfirmationHeadingText') %></h2>

		<form id="WKCSubscriptionsModuleCreateConfirmationForm">
			<p>
				<input type="text" placeholder="<%= OLSKLocalized('WKCSubscriptionsModuleCreateConfirmationFormNameText') %>" id="WKCSubscriptionsModuleCreateConfirmationFormName">
			</p>
			
			<p>
				<textarea placeholder="<%= OLSKLocalized('WKCSubscriptionsModuleCreateConfirmationFormBlurbText') %>" id="WKCSubscriptionsModuleCreateConfirmationFormBlurb"></textarea>
			</p>
			
			<p>
				<input type="text" hidden id="WKCSubscriptionsModuleCreateConfirmationFormType">
			</p>

			<p>
				<input type="submit" value="<%= OLSKLocalized('WKCSubscriptionsModuleCreateConfirmationFormSubmitText') %>">
			</p>

			<p>
				<button type="button" id="WKCSubscriptionsModuleCreateConfirmationClearButton"><%= OLSKLocalized('WKCSubscriptionsModuleCreateConfirmationClearButtonText') %></button>
			</p>
			<script type="text/javascript">
				d3.select('#WKCSubscriptionsModuleCreateConfirmationClearButton').on('click', WKSubscriptionsModuleCreate.interfaceConfirmationClearButtonDidClick);
			</script>
		</form>

		<script type="text/javascript">
			d3.select('#WKCSubscriptionsModuleCreateConfirmationForm').on('submit', function() {
				d3.event.preventDefault();
				
				WKSubscriptionsModuleCreate.interfaceConfirmationFormDidSubmit();
			});
		</script>

		<h3><%= OLSKLocalized('WKCSubscriptionsModuleCreatePreviewHeadingText') %> (<span id="WKCSubscriptionsModuleCreatePreviewHeadingType"></span>)</h3>

		<section id="WKCSubscriptionsModuleCreatePreviewFeed" class="WKCSubscriptionsModuleCreatePreview">
			<ul id="WKCSubscriptionsModuleCreatePreviewFeedList"></ul>
		</section>

		<section id="WKCSubscriptionsModuleCreatePreviewFile" class="WKCSubscriptionsModuleCreatePreview">
			<pre></pre>
		</section>

		<section id="WKCSubscriptionsModuleCreatePreviewPage" class="WKCSubscriptionsModuleCreatePreview">
			<pre id="WKCSubscriptionsModuleCreatePreviewPageContent"></pre>
		</section>
	</div>
</div>