<%
locals.OLSKPageTitle = OLSKLocalized('WKCNotesHeadingText');
locals.OLSKPageAssets = [
	'/shared-assets/external/OLSKTasks/main.js',
	'/cms/_shared/ui-style.css',
	'ui-style.css',
	'ui-logic.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicLocalizedStringKeys = [
	'WKSharedErrorServiceUnavailable',
	'WKSharedErrorTokenUnavailable',
	'WKCWriteErrorNotesUnavailable',
	'WKCWriteDetailToolbarPersistenceStatusSaving',
	'WKCWriteDetailToolbarPersistenceStatusSaved',
	'WKCWriteErrorPersistenceSaveDidFail',
	'WKCWriteDetailToolbarPersistenceStatusUnableToSave',
	'WKCWriteDetailToolbarPublishStatusPublishing',
	'WKCWriteErrorPublishDidFail',
	'WKCWriteDetailToolbarPublishStatusUnableToPublish',
	'WKCWriteNotesDeleteAlertText',
	'WKCWriteDetailToolbarPersistenceStatusDeleting',
	'WKCWriteDetailToolbarPersistenceStatusDeleted',
	'WKCWriteErrorPersistenceDeleteDidFail',
	'WKCWriteDetailToolbarPersistenceStatusUnableToDelete',
	'WKCWriteDetailToolbarPublishStatusPublished',
];
locals.OLSKPagePublicRouteKeys = [
	'WKCRouteAPINotesCreate',
	'WKCRouteAPIToken',
	'WKCRouteAPINotesSearch',
	'WKCRouteAPINotesUpdate',
	'WKCRouteAPINotesPublish',
	'WKCRouteAPINotesDelete',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<%- include('../_shared/layout-header.ejs') %>

<script type="text/javascript">
	WKCWriteBehaviour.lifecyclePageWillLoad();
</script>

<div id="WKCNotes" class="WKCWriteLoading">
	<div id="WKCWriteMaster">
		<header id="WKCWriteMasterToolbar" class="WKCSharedToolbar">
			<button id="WKCWriteMasterToolbarCreateButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" accesskey="n" title="<%= OLSKLocalized('WKCWriteMasterToolbarCreateButtonText') %>">➕</button>
			<script type="text/javascript">
				d3.select('#WKCWriteMasterToolbarCreateButton').on('click', WKCWriteBehaviour.interfaceNotesMasterToolbarCreateButtonDidClick);
			</script>
		</header>

		<div id="WKCWriteMasterContent"></div>
	</div>

	<div id="WKCWriteDetail" class="WKCWriteDetailInactive">
		<header id="WKCWriteDetailToolbar" class="WKCSharedToolbar">
			<span id="WKCWriteDetailToolbarPersistenceStatus"></span>
			
			<span id="WKCWriteDetailToolbarPublishStatus"></span>

			<button id="WKCWriteDetailToolbarPublishButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarPublishButtonText') %>" disabled>⬆️</button>
			<script type="text/javascript">
				d3.select('#WKCWriteDetailToolbarPublishButton').on('click', WKCWriteBehaviour.interfacePublishButtonDidClick);
			</script>

			<button id="WKCWriteDetailToolbarDiscardButton" class="WKCSharedElementTappable WKCSharedButtonNoStyle" title="<%= OLSKLocalized('WKCWriteDetailToolbarDiscardButtonText') %>" disabled>🗑</button>
			<script type="text/javascript">
				d3.select('#WKCWriteDetailToolbarDiscardButton').on('click', WKCWriteBehaviour.interfaceDeleteButtonDidClick);
			</script>
		</header>

		<div id="WKCWriteDetailContent">
			<textarea id="WKCWriteDetailContentTextarea"></textarea>
			<script type="text/javascript">
				d3.select('#WKCWriteDetailContentTextarea').on('input', WKCWriteBehaviour.interfaceEditorTextareaDidReceiveInput);
			</script>
		</div>

		<div id="WKCWriteDetailPlaceholder"><span><%= OLSKLocalized('WKCWriteDetailPlaceholderText') %></span></div>
	</div>
</div>

<%- include('../../_shared/WKCLayout/footer.ejs') %>
